PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb://mongo:27017/secure_auth
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=replace-with-strong-secret
JWT_REFRESH_SECRET=replace-with-strong-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=14
BCRYPT_ROUNDS=12
CSRF_COOKIE_SECRET=replace-with-another-secret
